@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue @ViewData["Claims"] !</h1>
    @if(@ViewData["Claims"] != null)
    {
        <p>Cliquez <a href="/Survey">ici</a> pour voir la liste des sondages.</p>
    }else{
        <p>Pour voter vous devez être connecter.</p>
    }
    <img class="img-responsive" src="~/img/lappy.gif" alt="funny GIF" style="height: calc(1.5em + .75rem + 340px)";>
</div>
