@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Claims"] !</h1>
    @if(@ViewData["Claims"] != null)
    {
        <p>Go <a href="/Survey">here</a> to see all the polls.</p>
    }else{
        <p>To see all the polls you must be connected.</p>
    }
    
    @* RAJOUTER BIENVENU + pseudo *@
</div>
